<div class="poll-wrapper">
  <a ng-show="{{linkable}}" href="/poll/{{poll._id}}" class="h4">{{poll.question}}</a><br>
  <span class="h4" ng-hide="{{linkable}}">{{poll.question}}</span>

  <ul ng-if="loggedIn()">
    <li ng-click="voteFor($index)" class="poll-answer poll-answer-votable" ng-repeat="answer in poll.answers">
      <span class="glyphicon glyphicon-unchecked" ng-hide="votedFor($index)" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-check" ng-show="votedFor($index)" aria-hidden="true"></span>
      <span ng-hide="{{hideTally}}">{{answer.votes.length}} vote<span ng-hide="answer.votes.length === 1">s</span> - </span>
      {{answer.answer}}
    </li>
  </ul>
  <ul ng-if="!loggedIn()">
    <li class="poll-answer" class="poll-answer" ng-repeat="answer in poll.answers">
      <span ng-hide="{{hideTally}}">{{answer.votes.length}} vote<span ng-hide="answer.votes.length === 1">s</span> - </span>
      {{answer.answer}}
    </li>
  </ul>

</div>
